* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero-big.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }


  .hero-text-box {
    position: absolute;
    color: #fff;

    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  img {
      width: 100%;
  }

  /* intro */
  .intro {
    margin-top: 100px;
}

.stats-h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}


  /* promo */

  .promo .grid {
      grid-template-columns: 4fr 3fr;
  }
  
  .lg {
    font-size: 3rem;
}

.lead {
    font-size: 20px;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;

}


/* HD PHONES */
.container-hdphones {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  transform-style: preserve-3d;
  min-height: 500px;
  width: 350px;
  border-radius: 30px;
  padding: 0 29px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.hdphones {
  min-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdphones img {
  width: 170px;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
  width: 125px;
  height: 125px;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.card-info h1 {
  font-size: 22px;
    transition: all 0.75s ease-out;
}

.card-info h3 {
  font-size: 16px;
    padding: 16px 0;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button {
  padding: 10px 17px;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active {
  background: #585858;
  color: white;
}

.purchase {
  margin-top: 17px;
  transition: all 0.75s ease-out;
}

.purchase button {
  width: 100%;
  padding: 14px 0px;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}